@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-image: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
thead,
th {
  font-family: David Libre, serif;
}

p,
a,
li,
span,
select,
textarea,
option,
tbody,
td,
label {
  font-family: Roboto, sans-serif;
}

.errorDescription {
  font-size: 1.5rem;
  font-weight: 500;
  animation: zoomInOut 3s linear infinite;
  text-align: center;
  margin: auto;
  width: 60%;
}

#wrapper {
  border: none;
  background: #fff;
  border-radius: 0.5rem;
  padding: 0.25rem 0rem;
  width: 100%;
}

/* Header */
#top-header {
  margin: 1rem 0rem;
  display: flex;
  justify-content: space-between;
}

.siteName a {
  font-size: 2rem;
  text-decoration: none;
  color: #262626;
  font-weight: 500;
}

#tools a {
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  color: #262626;
  text-transform: uppercase;
}

.navLinks {
  background: #262626;
}

.navLinks ul {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-inline-start: 0;
}

.navLinks ul {
  list-style-type: none;
  font-size: 1rem;
  padding: 0.5rem 0rem;
}

.navLinks ul li a {
  color: white;
  text-decoration: none;
}

/* Body */
main > h1 {
  color: #262626;
  font-weight: 700;
}

.notice {
  font-style: italic;
  text-align: center;
  font-weight: 600;
  list-style-type: none;
  padding: 0;
  color: red;
  animation: move 5s linear infinite;
}

section {
  background-image: url("/images/vehicles/delorean.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 260px;
  display: flex;
  align-items: center;
}

section > div {
  background: rgba(255, 255, 255, 0.8);
  padding: 0.75rem;
  width: max-content;
  margin-left: 5%;
}

section > div h2 {
  font-family: David Libre, serif;
  color: #0099ff;
  font-weight: 500;
  margin-top: 0rem;
  margin-bottom: 0.25rem;
}

section > div p {
  font-family: David Libre, serif;
  color: #0099ff;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

section > div p:last-child {
  margin-bottom: 0.25rem;
}

section .btnContainer {
  width: 100%;
}

section .btnContainer button {
  background: #0099ff;
  margin: 0.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  border-color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 500;
}

article {
  display: grid;
  grid-template-areas:
    "reviews"
    "upgrades";
  gap: 0.5rem;
}

article > div h2 {
  color: #262626;
}

.upgradeSection {
  grid-area: upgrades;
}

.reviewSection {
  grid-area: reviews;
}

.partsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.partsContainer > div {
  height: 100%;
  text-align: center;
}

.partsContainer > div > div {
  background: #0099ff;
  padding: 0.25rem;
  border: 1px solid #262626;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-height: 75px;
}

.partsContainer img {
  max-width: 65px;
  width: auto;
  max-height: 65px;
  height: auto;
}

.partsContainer a {
  font-size: 0.9rem;
}

.reviewSection nav ul {
  padding-inline-start: 20px;
}

.reviewSection nav ul li {
  color: #262626;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

/* Cars View */
#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#inv-display li {
  text-align: center;
  list-style-type: none;
  border: 1px solid #616161;
  border-radius: 1rem;
}

#inv-display hr {
  height: 5px;
  background: #616161;
}

.vehicleListImage {
  height: 135px;
  overflow: hidden;
}

.vehicleListImage img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
}

.namePrice {
  text-align: center;
  padding: 0 0.5rem 0.5rem;
}

.namePrice h2 {
  margin: 0 0 0.5rem;
  font-family: David Libre, serif;
}

.namePrice h2 a {
  color: #007acc;
}

.namePrice span {
  font-size: 1.5rem;
  font-weight: 500;
}

/* Car Single View */
.vehicleContainer {
  display: block;
}

.vehicleContainer div:first-child {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.vehicleContainer div:first-child > img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 2.5px 5px 10px rgba(0, 0, 0, 0.8);
  margin-bottom: 1rem;
}

.vehicleContainer div:last-child p {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0;
}

.vehicleContainer div:last-child p:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}

.vehicleContainer div:last-child p:first-child {
  padding: 0;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.vehicleContainer div:last-child p span {
  font-size: 1rem;
  font-weight: 400;
}

/* Login and Register */
.inputField {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.inputField input {
  padding: 0.35rem;
  border-radius: 0.25rem;
}

.inputField input:focus:valid {
  background: rgb(175, 207, 175);
}

.inputField input:focus:invalid {
  background: rgb(214, 176, 176);
}

.inputFieldInfo:first-child {
  margin-left: 0;
  margin-right: 0;
}

.inputFieldInfo {
  font-size: 0.85rem;
  font-style: italic;
  margin: 0.5rem;
  font-weight: 500;
}

.formBtn {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.formBtn:hover {
  cursor: pointer;
  animation: buttonHoverDark 3s linear infinite;
}

/* Login View */
.login,
.addClassification {
  max-width: 300px;
  padding: 1rem;
  border: 2px solid #262626;
  background: #3eb2ff;
  border-radius: 0.75rem;
  margin: auto;
}

.formLink {
  font-size: 1rem;
}

.formLink span a {
  color: black;
}

/* Register View */
.register .updateInfo {
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.register .updateInfo h2 {
  margin: 0;
}

.register,
.addInventory {
  max-width: 300px;
  padding: 1rem;
  border: 2px solid #0099ff;
  background: #262626;
  border-radius: 0.75rem;
  margin: auto;
}

.register .inputField label {
  color: white;
}

.register .inputField input:focus-visible,
.addInventory .inputField input:focus-visible,
.addInventory .inputField textarea:focus-visible,
.addInventory .inputField select:focus-visible {
  outline-color: #0099ff;
}

.register .inputField .inputFieldInfo,
.register .inputFieldInfo:first-child {
  color: #3eb2ff;
}

.register .formBtn,
.addInventory .formBtn {
  border-color: white;
  background-color: #0099ff;
}

.register .formBtn:hover {
  cursor: pointer;
  animation: buttonHoverLight 3s linear infinite;
}

/* Management View */
.mgmtView p {
  font-size: 1rem;
  margin: 0;
}

.mgmtView p a {
  color: #007acc;
}

/* Add Classification View */

.addClassification .inputField {
  margin-bottom: 0;
}

/* Add Vehicle View */
.addInventory .inputField label {
  color: white;
}

.addInventory .inputFieldInfo {
  color: #3eb2ff;
}

.addInventory .inputField select,
#classificationList {
  padding: 0.35rem;
  border-radius: 0.25rem;
  font-size: 0.85rem;
  cursor: pointer;
}

.addInventory .inputField select option:hover,
#classificationList option:hover {
  cursor: pointer;
  color: #007acc;
  background: #007acc;
}

.addInventory .inputField textarea {
  padding: 0.35rem;
  border-radius: 0.25rem;
  font-size: 0.85rem;
}

/* Unit 05 Inventory Display */
#inventoryDisplay {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#inventoryDisplay thead {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

/* Update Account */
.updatePass {
  margin-top: 1rem;
}

/* Messages Table */
#inboxTable {
  table-layout: fixed;
  width: 80%;
  margin: auto auto;
  border: 1px solid #0099ff;
  border-radius: 0.25rem;
}

#inboxTable tr th {
  font-size: "1.25rem";
  font-weight: 600;
  background: #262626;
  color: white;
  padding: 0.5rem 0.75rem;
}

#inboxTable tr td {
  text-align: center;
  padding: 0.5rem 0.75rem;
}

#replyForm {
  display: none;
  margin-bottom: 1rem;
}

#replyForm .btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.replyBtnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: auto;
}

#messageview {
  width: 80%;
  margin: auto auto 1rem;
  border-radius: 0.5rem;
  border: 1px solid #262626;
  background: #0099ff;
  padding: 0.5rem 1rem;
}

/* Footer */
footer {
  margin: 1rem 0;
}

.copyright {
  font-size: 0.8rem;
  color: #262626;
  margin: 0;
}

@media screen and (min-width: 900px) {
  body {
    background-image: url("/images/site/checkerboard.jpg");
    background-repeat: repeat;
  }

  #wrapper {
    border: 4px solid #0099ff;
    padding: 0rem 0.5rem;
    width: 60%;
    margin: auto;
  }

  article {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    grid-gap: 1rem;
    grid-template-areas: none;
  }

  .upgradeSection {
    grid-area: auto;
  }

  .reviewSection {
    grid-area: auto;
  }

  /* Car Single View */
  .vehicleContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .vehicleContainer div:first-child > img {
    margin-bottom: 0rem;
  }
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes buttonHoverDark {
  0% {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 1);
  }
  50% {
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.6);
  }
  100% {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
  }
}

@keyframes buttonHoverLight {
  0% {
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 1);
  }
  50% {
    box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.6);
  }
  100% {
    box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.4);
  }
}

@keyframes move {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0%);
  }
}
